{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load django_bootstrap5 %}
{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
  <div id="box-col4">{% include "core/include/box-col4.html" %}</div>
  {% element h1 %}
  {% trans "Sign In" %}
{% endelement %}
{% if not SOCIALACCOUNT_ONLY %}
  {% setvar link %}
  <a href="{{ signup_url }}">
{% endsetvar %}
{% setvar end_link %}
</a>
{% endsetvar %}
{% element p %}
{% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
{% endelement %}
{% url 'account_login' as login_url %}
{% element form form=form method="post" action=login_url tags="entrance,login" %}
{% slot body %}
{% csrf_token %}
{% bootstrap_form form %}
{{ redirect_field }}
{% endslot %}
{% slot actions %}
<div class="text-start">{% bootstrap_button button_type="submit" content=_("Sign In") %}</div>
{% endslot %}
{% endelement %}
{% endif %}
{% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
  {% element hr %}
{% endelement %}
{% element button_group vertical=True %}
{% if PASSKEY_LOGIN_ENABLED %}
  {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
  {% trans "Sign in with a passkey" %}
{% endelement %}
{% endif %}
{% if LOGIN_BY_CODE_ENABLED %}
  {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
  {% trans "Send me a sign-in code" %}
{% endelement %}
{% endif %}
{% endelement %}
{% endif %}
{% if SOCIALACCOUNT_ENABLED %}
  {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endif %}
<div id="box-end">{% include "core/include/box-end.html" %}</div>


<div style="background: #fff3cd; color: #856404; padding: 15px; border: 1px solid #ffeeba; margin-bottom: 20px; font-family: monospace;">
    <strong>CSRF Debug Info:</strong><br>
    Django ALLOWED_HOSTS: {{ ALLOWED_HOSTS }}<br>
    Django CSRF_TRUSTED_ORIGINS: {{ CSRF_TRUSTED_ORIGINS }}<br>
    Browser/Proxy HTTP_ORIGIN: {{ HTTP_ORIGIN }}<br>
    Browser/Proxy REMOTE_ADDR: {{ REMOTE_ADDR }}<br>
</div>


{% endblock content %}
{% block extra_body %}
  {{ block.super }}
  {% if PASSKEY_LOGIN_ENABLED %}
    {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
  {% endif %}
{% endblock %}
