{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% load django_bootstrap5 %}
{% block head_title %}
  {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
  <div id="box-col6">{% include "core/include/box-col6.html" %}</div>
  {% element h1 %}
  {% trans "Set Password" %}
{% endelement %}
{% url 'account_set_password' as action_url %}
{% element form method="post" action=action_url %}
{% slot body %}
{% csrf_token %}
{{ redirect_field }}
{% element fields form=form %}
{% endelement %}
{% endslot %}
{% slot actions %}
{% element button type="submit" name="action" %}
{% trans "Set Password" %}
{% endelement %}
{% endslot %}
{% endelement %}
<div id="box-end">{% include "core/include/box-end.html" %}</div>
{% endblock content %}
