{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-md fixed-top bg-success-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">{{ PROJECT_TITLE }}</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="bi bi-house-door"></i> </a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'secret' %}">
              <i class="bi bi-incognito"></i> {% trans "Secret" %}</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">
            <i class="bi bi-info-circle"></i> {% trans "About" %}</a>
        </li>
      </ul>
      <ul class="navbar-nav me-2 mb-2 mb-md-0">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"><i class="bi bi-person-fill"></i> {{ request.user.first_name|default:request.user.username }}</a>
            <ul class="dropdown-menu dropdown-menu-lg-end bg-light">
              <li>
                <a class="dropdown-item bg-light" href="{% url 'profile' %}">
                  <i class="bi bi-person-circle"></i> {% trans "Profile" %}</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item bg-light" href="{% url 'account_email' %}">
                  <i class="bi bi-envelope"></i> {% trans "Email" %}</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item bg-light"
                   href="{% url 'account_change_password' %}">
                  <i class="bi bi-key"></i> {% trans "Change Password" %}</a>
              </li>
              {% if request.user.is_superuser %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="nav-item">
                  <a class="dropdown-item bg-light" href="{% url 'admin:index' %}">
                    <i class="bi bi-gear"></i> {% translate "Admin panel" %}</a>
                </li>
              {% endif %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item">
                <a class="dropdown-item bg-light" href="{% url 'account_logout' %}">
                  <i class="bi bi-box-arrow-right"></i> {% trans "Logout" %}</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">
              <i class="bi bi-box-arrow-in-right"></i> {% trans "Sign In" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">
              <i class="bi bi-person-plus-fill"></i> {% trans "Sign Up" %}</a>
          </li>
        {% endif %}
      </ul>
      <div id="navbar-language">{% include "core/include/language.html" %}</div>
    </div>
  </div>
</nav>
