/* CSS file for the Django Allauth Demo project */
/* Show it is fixed to the top */

body {
    min-height: 75rem; 
    padding-top: 4.5rem;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #f8f9fa; /* Light background color */
    }

.page-header {
    margin-top: 50px;
    }